torch
torchvision
torchaudio
einops
tqdm
coolname
pydantic
argdantic
wandb
pyyaml
huggingface_hub
tokenizers
numba
sentencepiece
datasets

# Optional: TPU support
# torch_xla @ https://storage.googleapis.com/libtpu-releases/index.html
